

<div class="d-flex justify-center align-center loaderSaipem" style="height: 100%;">
    <MudProgressCircular Indeterminate="true"
                         Color="Color.Secondary"
                         Size="Size.Large"
                         Class="ma-4" >
        <ChildContent >Saipem</ChildContent>
                         </MudProgressCircular>
</div>

@code {

}
